
<!DOCTYPE html>
<html>
<head>
    <title>기사 작성</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">
    <h1 class="section-title">기사 작성</h1>

    <form method="POST">
        <input type="text" name="title" placeholder="기사 제목" required>
        <textarea name="content" placeholder="기사 내용을 입력하세요." required></textarea>
        <button type="submit">기사 업로드</button>
    </form>
</div>

</body>
</html>
